.tasks
  display: flex
  max-width: 42rem
  flex-direction: column
  padding: 1rem
  li
    display: flex
    flex-direction: row

li.indent-1 .task
  background-color: #ffbb00
li.indent-2 .task
  background-color: #fc4c35
li.indent-3 .task
  background-color: #ff1b85

.task
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: end
  padding: .5rem 1.2rem
  min-height: 3.2rem
  border-radius: .5rem
  margin: .15rem 0
  gap: 1.2rem
  flex-wrap: wrap
  .see-more
    padding: .1rem
    user-select: none
    cursor: pointer
  .name
    font-weight: bold
    width: 12rem
    border: none
    outline: none
    background-color: transparent
    margin-right: auto
    font-size: 1rem
    &::placeholder
      color: #00000060
  .action
    font-size: 0.8rem
    opacity: .86
    cursor: pointer
  .add-child, .remove
    font-size: 1.05rem
  .quota
    display: flex
    align-items: center
    & > *:not(.per)
      background: transparent
      border: none
      appearance: none
      padding: 0 .24rem
    .duration
      width: 2.8rem
      border: none
      text-align: right
      // Hide arrows
      &[type=number]
        -moz-appearance: textfield // Firefox
      &::-webkit-inner-spin-button
        -webkit-appearance: none // Chrome
        margin: 0 // Chrome

    .per
      padding: 0 .2rem
      font-size: 0.8rem
      opacity: .6
.new-task
  margin-top: .2rem
  padding: 1.2rem 1rem
  text-align: right
  color: #00000080
  border-radius: .5rem
  background-color: #00000010
  min-width: 10rem
  margin-left: auto
  user-select: none
  font-weight: bold
  cursor: pointer
